@import "../../../styles.scss";

.card{
    width: 20vw;
    max-width: 400px;
    min-width: 200px;
    height: 60vh;
    max-height: 600px;
    min-height: 300px;
    border: solid 1px $main;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
    padding: 20px;
    position: relative;
    box-shadow: 10px 10px 10px $alphadark;
}
.card:hover{
  transition-property: box-shadow, background-color;
  transition-duration: 0.4s, 0.4s;
  box-shadow: 10px 10px 10px $darkmain;
  background-color: white;
}
.card-title{
  text-align: center;
  font-size: 24px;
}
.card-img{
    width: 20vw;
    height: 20vh;
    max-height: 300px;
    min-height: 150px;
    float: right;
    margin-bottom: 10px;
    margin-left: 10px;
}
.content-card{
  text-align: justify;
}
.cta-card{
  background-color: grey;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 20px;
  margin-right: 20px;
}
