<div class="card">
    <h3 class="card-title title-font">{{ title }}</h3>
    <img class="card-img" src="{{img}}">
    <p class="content-card text-font">{{ content }}</p>
    <a class="cta-card" href="{{cta}}">En savoir plus...</a>
</div>