<div id="header">
    <div id="logo">
    </div>
    <nav id="menu" class="legend-font">
        <a class="menu-link" routerLink="/welcome">Accueil</a>
        <a class="menu-link" routerLink="/who">Qui suis je?</a>
        <a class="menu-link" routerLink="/cares">Prestations</a>
        <a class="menu-link" routerLink="/testimonials">Témoignages</a>
        <a class="menu-link" routerLink="/contact">Contact</a>
    </nav>
    <div id="icon">
        <mat-icon title="Se connecter">person</mat-icon>
        <mat-icon title="Mon panier">shopping_basket</mat-icon>
        <mat-icon title="Rechercher">search</mat-icon>
    </div>
</div>
