@import '../../../styles.scss';
#header{
    width: 100vw;
    height: 10vh;
    background-color: $lightmain;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#header:hover{
    background-color: $darkmain;
}
#logo{
    width: 15vw;
    height: 10vh;
    background-image: url("https://i.ibb.co/sKDBM8m/logoFP.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#menu{
    width: 70vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 24px;
}
#icon{
    width: 15vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}
.menu-link{
    text-decoration: none;
    color: white;
}