@import "../../../styles.scss";

.fullpage{
  overflow-y: hidden;
}
.all-cards{
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}