// Remise à zero 
*{
    margin: 0;
    padding: 0;
}
// Définition des polices de caractéres
.text-font {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}
.title-font {
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
.legend-font {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
}
// Ajout des variables couleurs
$main: #9c297f;
$lightmain: #BD71A9;
$darkmain: #750457;

$secondary: #F6B7F0;
$lightsecondary: #FEEBFD;
$darksecondary: #C581C0;

$contrast: #26F090;

$dark: #9C297FFF;
$alphadark: #9c297fb2;
$alphalight: #E38CDFb2;
$light: #E38CDFff;

// Disposition de tout les h2
.subtitle{
    color: white;
    text-align: center;
    font-size: 32px;
    margin: 20px 0 20px 0;
}

// Gestion du background image
.fullpage{
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

//Affichage du scroll vertical

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 5px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $darkmain; 
    border-radius: 5px;
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $lightmain; 
  }
  

@media (max-width: 720px){
    .fullpage{
        background-image: linear-gradient(45deg, $dark, $alphadark, $alphalight, $light), url("https://i.ibb.co/8gnFRqL/cielSM.webp");
    }
}
@media (min-width: 720px) and (max-width: 1440px) {
    .fullpage{
        background-image: linear-gradient(45deg, $dark, $alphadark, $alphalight, $light), url("https://i.ibb.co/8gnFRqL/cielIN.webp");
    }
}
@media (min-width: 1440px){
    .fullpage{
        background-image: linear-gradient(45deg, $dark, $alphadark, $alphalight, $light), url("https://i.ibb.co/8gnFRqL/cielFP.webp");
    }
}
